* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    }
h1, h2, p, h3 {
    font-family: Lato;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-color: #222222;
    height: 75px;
    align-content: center;
}


header nav{
    
    display: flex;
    justify-content: space-between;

}

header  nav button{
    background-color: #222222;
    border: none;
    cursor: pointer;
}

header .left_side{
    display: flex;
    gap: 41px;

}

header .right_side{
    display: flex;
    gap: 32px;

}
.main_color{
    background-color: #F1E4E6;
}
.main_top{
 
    height: 764px;

    display: flex;
    align-items: center;
    gap: 64px;
    margin-bottom: 65px;
}

.img_main{
    background-image: url(./img/main_top.png); 
    width: 570px;
    height: 764px; 
}
.main_logo{
    border-left: 12px solid #F16D7F;
    padding: 0 16px;
}

.main_logo h1{
    font-size: 48px;
    font-weight: 900;
    /* line-height: 1px; */
}

.main_logo h2{
    font-size: 32px;
    font-weight: 700;
    /* line-height: 1px; */
}

.logo_text_color{
    color: #F16D7F;
}
.top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 96px;
}
.card_1{
    width: 360px;


    height: 260px;

    background-image: url(./img/offer_top_1.jpeg);
}
.card_2{
    width: 360px;
    height: 260px;
    background-image: url(./img/offer_top_2.jpeg);
}
.card_3{
    width: 360px;
    height: 260px;
    background-image: url(./img/offer_top_3.jpeg);
}
.card_4{
    width: 1140px;
    height: 180px;
    background-image: url(./img/offer_down.jpeg);
}



.backround_color_img{
    background-color: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_in_card {

    /* display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center; */

}

.txt_in_card h3{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.txt_in_card h2{
    text-align: center;
    color: rgb(241, 109, 127);
    font-size: 24px;
    font-weight: 700;
}

.fetured_items h1{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.fetured_items h2{
    color: rgb(159, 159, 159);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    margin-bottom: 48px;
}

.offers_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 48px;
}

.card_type2{
    width: 360px;
    height: 587px;
    background-color: #F8F8F8;
}


.card_type2 .txt{
padding: 24px 16px;

}

.card_type2 .txt h1{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-bottom: 16px;
}

.card_type2 .txt h2{
    color: rgb(93, 93, 93);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    margin-bottom: 16px;
}

.card_type2 .txt h3{
    color: rgb(180, 38, 57);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.down_btn{
    display: flex;
    justify-content: center;

    padding: 15px 39px;
    background-color: #FFFFFF;
    cursor: pointer;

    border: 1px solid rgb(255, 106, 106);
    /* border-color: #242, 99, 118; */
    color: rgb(242, 99, 118);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    margin-bottom: 60px;

}

@media (min-width: 768px) and (max-width: 1146px){
    .container {
        max-width: 768px;
    }

    .img_main{
        background-image: url(./img/main_top-2.png);
        width: 370px;
        height: 368px;
    }
    
    .main_logo h1{
        font-size: 44px;
    }
    
    .main_logo h2{
        font-size: 24px;
    }

    .main_top{
        height: 368px;
    }
    .top{
        gap: 20px;
        justify-content: center ;
    }
    .card_1, .card_2, .card_3{
        width: 232px;
        height: 168px;

    }
    .card_4{
        width: 735px;
        height: 116px;
    }
    .offers_cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 48px;
    }
}
